@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center>
    <h1>Opps!.....An Error Occured</h1>
   <img src="~/assets/internal server error.png " width="30%" />
</center>