@model Document.Models.PR

@{
    ViewData["Title"] = "FinanceReviewerEdit";
}
<main class="col-md-9 col-lg-10 col-sm-10 px-md-4" style=" width:90vw;">
    

    <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="form h-100">
            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5 ">
                <h5 class="approval-title">You have been asked to approve this request</h5>
            </div>

            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
    <div class="col-md-4">

        <form asp-action="FinanceReviewerEdit">
            <div asp-validation-summary="ModelOnly" ></div>
            <input type="hidden" asp-for="Id" />
            
                <input hidden asp-for="PONo" class="form-control" />
              
                <input hidden asp-for="InvoiceNo" class="form-control" />

            <input hidden asp-for="POAttach" class="form-control" />
            <input hidden asp-for="VendorNum" class="form-control" />

            <input hidden asp-for="InvoiceAttach" class="form-control" />
             
                <input hidden asp-for="OtherAttach" class="form-control" />
                
                <input hidden asp-for="ApprovalNotes" class="form-control" />
                <input hidden asp-for="VendorName" class="form-control" />

               <input hidden asp-for="ApprovedAt" class="form-control" />
               <input hidden asp-for="CreationNotes" class="form-control" />
              
                <select hidden asp-for="FinanceReviewerStatus" class="form-control"></select>
              
                <input hidden asp-for="RequesterId" class="form-control" />
               
                <input hidden asp-for="CreatedAt" class="form-control" />
                
                <input hidden asp-for="Status" class="form-control" />
                <input hidden asp-for="ReqNumber" class="form-control" />
           
                <input hidden asp-for="CurrentReviewerId" class="form-control" />


                           <div class="form-group">
                            <label asp-for="ApprovalNotes" class="control-lab">Add comment <span class="side-note">(Must leave your notes if the request to be declined)</span></label>
                            <textarea asp-for="ApprovalNotes" class="form-control"></textarea>
                            <span asp-validation-for="ApprovalNotes"></span>
                        </div>
                                    <div class="d-flex justify-content-center m-4">

                <div>
                                <input class="btn-gradient-approve" id="edit" type="submit" name="FinanceReviewerStatus" asp-for="FinanceReviewerStatus" value="@FinanceReviewerStatuses.Approve">
                </div>


                <div>
                                <input class="btn-gradient-submit" id="delete" type="submit" name="FinanceReviewerStatus" asp-for="FinanceReviewerStatus" value="@FinanceReviewerStatuses.Decline">
                </div>
            </div>
                       
        </form>
    </div>
</div>
</div>
</div>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
